<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BB_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,70}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_damage1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{84,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_damage1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{84,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_damage1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,70}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_damage1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{78,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_damage2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,88},{84,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_damage2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,88},{84,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_damage2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,88},{84,70}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_damage2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,88},{78,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>BB_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>MB_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,174},{74,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,174},{74,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,174},{74,62}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,174},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_damage1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,174},{74,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_damage1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{74,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_damage1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,260},{74,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_damage1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,260},{72,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,260},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Monster1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,260},{52,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,260},{52,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,260},{54,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster1_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,336},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,336},{52,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,336},{52,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,336},{54,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,336},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster2_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,336},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,336},{52,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,336},{52,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{54,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,402},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster3_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,402},{60,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,402},{52,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,402},{52,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,402},{54,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,402},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Monster4_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,402},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monsterSheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c1e3bf193bbdb971022292eae5deac4$</string>
            <key>textureFileName</key>
            <string>monsterSheet.png</string>
        </dict>
    </dict>
</plist>
